@font-face {
  font-family: 'Lofinia Regular';
  src: url("/public/assets/fonts/Lofinia_v0.14-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'DS Digital';
  src: url("/public/assets/fonts/DS-Digital.TTF") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Journal';
  src: url("/public/assets/fonts/Journal.ttf") format("truetype");
  font-display: swap;
}

@mixin sysFont{
  --font-family: var(--bs-body-font-family);
}
:root {
  @include sysFont;
}
:root[data-font="sys"]{
  @include sysFont;
}
:root[data-font="lofinia"]{
  --font-family: Lofinia Regular;
}
:root[data-font="dsDigital"]{
  --font-family: "DS Digital";
}
:root[data-font="journal"]{
  --font-family: "Journal";
}

html body {
  font-family: var(--font-family), system-ui, -apple-system;
}