node_modules
dist
.vite-ssg-temp

# Editor directories and files
.vscode/**/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*

src/assets/_svg
src/_test
src/views/Library/json/_remote
src/views/Blog/json/_remote
src/_@types

script/tools/input
script/tools/output