section{
  &.bg-a{
    background-color: var(--section-bg-a);
  }
  &.bg-b{
    background-color: var(--section-bg-b);
  }
}

.general-text{
  font-size: 1.25rem;
}

//作为插图的img元素
.illustration{
  width: 100%;
  border-radius: 10px;

  &.w-50{
    width:50%;
  }
}

h1{
  &.fs-big-0{
    //hi default font-size
    //font-size: calc(1.375rem + 1.5vw);
    font-size: calc(1.5rem + 3vw);
  }
}
