section{
  &.bg-a{
    background-color: var(--section-bg-a);
  }
  &.bg-b{
    background-color: var(--section-bg-b);
  }
}

.general-text{
  font-size: 1.25rem;
}

//作为插图的img元素
.illustration{
  width: 100%;
  border-radius: 10px;

  &.w-50{
    width:50%;
  }

  &.have-padding{
    padding: 1rem 1rem;
  }
}

#home{
  #firstSection{
    position: relative;
    height: calc(100vh - var(--view_margin-top));

    #firstSection_title{
      position: absolute;
      left: calc(10vw + 1rem);
      bottom: calc(10vh + 1rem);
    }
  }
  #aioSection{
    .svgObj{
      color: var(--bs-body-color);
      stroke: var(--bs-body-color);
      fill: var(--bs-body-color);
      width: 24vw;
      height: 24vw;
    }
    @mixin text_same{
      font-size: 12vw;
      font-weight: bold;
      font-family: "Lofinia Regular";
      //position: relative;
    }
    /*@mixin text-after_same{
      position: absolute;
      left: 0;
      top: 0;
      width: max-content;
      transform-origin: 0 0;
      transform: rotateZ(-45deg);
    }*/
    .text-0{
      @include text_same;
    }
    /*.text-0:after{
      content: '无治即秩序';
      @include text-after_same;
    }*/
    .text-1{
      @include text_same;
    }
    /*.text-1:after{
      content: 'Anarchy Is Order';
      @include text-after_same;
    }*/
  }
}
