
#bg{
  background-color: #d18300;
  position: fixed;
  top: -10vh;
  left: -10vw;
  width: 120vw;
  height: 120vh;
  z-index: -100;
}
[data-bs-theme=dark] #bg{
  background-color: #2e1d00;
}

#ChessAmateurAssociation{
}